@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;600&display=swap");

:root {
  --Soft-blue: hsl(215, 51%, 70%);
  --Cyan: hsl(178, 100%, 50%);
  --very-dark-blue-main-BG: hsl(217, 54%, 11%);
  --very-dark-blue-card-BG: hsl(216, 50%, 16%);
  --very-dark-blue-line: hsl(215, 32%, 27%);
  --white: hsl(0, 0%, 100%);
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  background-color: var(--very-dark-blue-main-BG);
  font-size: 16px;
  font-family: "Outfit", sans-serif;
}

/* Eth card */
.card {
  width: 270px;

  background-color: var(--very-dark-blue-card-BG);
  margin: 50px auto;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 8px 10px 15px hsl(216, 52%, 6%), 8px 12px 20px hsl(240, 48%, 5%);
}

/* Equilibrium image */
.image1 {
  position: relative;
  width: inherit;
  display: flex;
  justify-content: center;
  align-items: center;
}
.image1 img {
  width: 100%;
  height: 100%;
}
.overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: inherit;
  background-color: hsla(178, 100%, 50%, 0.514);
  opacity: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 1s ease-in-out;
}
.overlay img {
  width: 50px;
  height: 50px;
  opacity: 0.5;
}
.image1:hover .overlay {
  opacity: 1;
}

.card-content #image1 {
  margin-bottom: 10px;
}

/* header */
h3 {
  color: var(--white);
  font-size: 20px;
  font-weight: 600;
  margin: 5px 0 5px 0;
}
h3:hover {
  color: var(--Cyan);
  cursor: pointer;
}

/* Equilibrium collection */
#comment {
  color: var(--Soft-blue);
  font-size: 14px;
  font-weight: 100;
  margin-top: 10px;
  line-height: 1.5;
}

/* Equilibriumn & history */
.card-discription {
  font-size: 12px;
  font-weight: 600;
  margin: 5px 0;
  padding: 15px 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.amount-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.amount-container strong {
  color: var(--Cyan);
  padding: 0 5px;
}
.date-container {
  padding: 0 5px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.date-container p {
  color: var(--Soft-blue);
  padding: 0 5px;
}

/* Profile detail */
.profile {
  border-top: 1px solid var(--very-dark-blue-line);
  padding: 15px 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.profile img {
  width: 25px;
  height: 25px;
  border: 1px solid var(--white);
  border-radius: 50%;
}
.profile p {
  font-size: 13px;
  color: var(--white);
  padding-right: 50px;
  word-spacing: 1.2px;
}
.profile > p:hover {
  color: var(--Cyan);
  cursor: pointer;
}
span {
  color: var(--Soft-blue);
}
.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
