@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;600&display=swap");

:root {
  --Soft-blue: hsl(215, 51%, 70%);
  --Cyan: hsl(178, 100%, 50%);
  --very-dark-blue-main-BG: hsl(217, 54%, 11%);
  --very-dark-blue-card-BG: hsl(216, 50%, 16%);
  --very-dark-blue-line: hsl(215, 32%, 27%);
  --white: hsl(0, 0%, 100%);
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  background-color: var(--very-dark-blue-main-BG);
  font-size: 16px;
  font-family: "Outfit", sans-serif;
}
.card {
  width: 270px;
  background-color: var(--very-dark-blue-card-BG);
  margin: 50px auto;
  padding: 20px;
  border-radius: 15px;
  box-shadow: 6px 15px 10px var(--very-dark-blue-main-BG);
}
.card-content #image1 {
  width: 100%;
  border-radius: 15px;
  margin-bottom: 10px;
}
#title {
  color: var(--white);
  font-size: 1.2em;
  font-weight: 600;
  margin: 20px 0;
}
.card-discription {
  font-size: 13px;
  font-weight: 600;
  padding: 20px 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.card-discription .amount-container strong {
  color: var(--Cyan);
}
.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
